:root {
    --main-color:#757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --secondary-bcg: #F5F4FA;
}

body {
    font-family: Roboto, Montserrat, DM Sans, sans-serif;
    color: var(--main-color);
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1170px;
    display: flex;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.page-header .container {
    min-height: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.logo span {
    color: #000000;
}

.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 92px;
}

.site-nav {
    display: flex;
}

.site-nav .item {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.item .link {
    padding: 32px 0;
}
.item:not(:last-child) {
    margin-right: 50px;
}

.link:hover, .link:focus, .link.active {
    color: var(--accent-color);
}

.list.contacts {
    display: flex;
    margin-left: 344px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero {
    background: #2F303A;
    padding: 200px 20px;
}

.hero-content {
    text-align: center;
    margin: 0 auto;
    max-width: 696px;
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
}

.hidden-title{
    visibility: hidden;
    margin-bottom: -28px;
}

.section .item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-size: 14px;
    line-height: 1.71; 
}

.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team.section {
    background-color: var(--secondary-bcg);
}

.team-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /*text-align: center;*/
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-text {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .item {
    width: 270px;
    min-height: 368px;
    background-color: #ffffff;
}

.page-footer {
    background-color: #2F303A;
    min-height: 252px;
    padding: 60px 0;
}

.page-footer .container {
    display: inherit;
}

.page-footer .logo {
    margin-bottom: 20px;
    display: inherit;
}

.page-footer span {
    color: var(--white-color);
}

.adr {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adr .item:not(:last-child) {
    margin-bottom: 9px;
}

.adr-link {
    color: var(--white-color);
    text-decoration: none;
}

.contact-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.portfolio .btn-list {  
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list .item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    color: var(--title-color);
    background-color: var(--secondary-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;

    padding: 6px 22px;
}

.filter-btn:hover, .filter-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.cards-list {
    flex-wrap: wrap;
}

.cards-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    min-height: 404px;
    border: 1px solid #EEEEEE;
}

.cards-list .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--main-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}
